*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
/build/
crosswalk_lib/build/generated/assets/
crosswalk_lib/build/generated/res/
crosswalk_lib/build/generated/source/aidl/
crosswalk_lib/build/generated/source/rs/
crosswalk_lib/build/intermediates/bundles/debug/aidl/
crosswalk_lib/build/intermediates/bundles/debug/assets/
crosswalk_lib/build/intermediates/bundles/release/aidl/
crosswalk_lib/build/intermediates/bundles/release/assets/
crosswalk_lib/build/intermediates/incremental/mergeDebugAndroidTestResources/aapt-temp/
crosswalk_lib/build/intermediates/incremental/mergeDebugAndroidTestResources/compile-file-map.properties
crosswalk_lib/build/intermediates/incremental/mergeDebugAndroidTestResources/merged.dir/
crosswalk_lib/build/intermediates/incremental/packageDebugResources/aapt-temp/
crosswalk_lib/build/intermediates/incremental/packageDebugResources/compile-file-map.properties
crosswalk_lib/build/intermediates/incremental/packageDebugResources/merged.dir/
crosswalk_lib/build/intermediates/incremental/packageReleaseResources/aapt-temp/
crosswalk_lib/build/intermediates/incremental/packageReleaseResources/compile-file-map.properties
crosswalk_lib/build/intermediates/incremental/packageReleaseResources/merged.dir/
crosswalk_lib/build/intermediates/incremental/processDebugAndroidTestResources/
crosswalk_lib/build/intermediates/incremental/processDebugResources/
crosswalk_lib/build/intermediates/lint/
crosswalk_lib/build/intermediates/manifest/tmp/
crosswalk_lib/build/intermediates/manifests/
crosswalk_lib/build/intermediates/rs/
crosswalk_lib/build/intermediates/shaders/
/app/build/
/jsbridge_libs/build/
/jsbridge_libs4crosswalk/build/
